<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Coming Soon Page">
    <link rel="stylesheet" href="../assests/style/games.css">
    <link rel="stylesheet" href="../assests/style/fontawesome-free-6.4.0-web/css/all.css">
    <title>Coming Soon</title>
</head>
<body>
            <!--Loader-->
            <div class="spinner"></div>
            <!--Navbar-->
            <nav>
                <div class="button-container">
                    <a href="../index.html">
                        <button class="button">
                            <i class="fas fa-house"></i>
                        </button>
                    </a>  
                </div>
            </nav>
    <div>
        <p>Coming Soon</p>
    </div>
    <script src="../assests/script/script.js"></script>
</body>
</html>